doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Post Blog
        link(rel="stylesheet", href="/css/index.css")
    body 
        include layout.pug
        .blog_wrapper 
            .blog_post__form 
                h2 Edit a Blog
                form(action="/edit", method="post")
                    input(type="text", name="id", placeholder="Blog ID", value=post.id, readonly)
                    input(type="text", name="slug", placeholder="Blog Slug ID", value=post.slug, readonly)
                    input(type="text", name="title", placeholder="Blog Title", value=post.title)
                    input(type="text", name="description", placeholder="Add Description", value=post.description)
                    input(type="date", name="date", value=post.date)
                    select(name="primary", value=post.primary_category)
                        option(value="tech") Tech 
                        option(value="personal") Personal
                        option(value="tech-events") Tech-Events 
                    input(type="text", name="domains", placeholder="Array of Domains", value=post.domains)
                    input(type="text", name="filename", placeholder="Filename", value=post.filename)
                    input(type="text", name="author", placeholder="Author", value=post.author)
                    input(type="text", name="visible", placeholder="Visibility", value=post.visible)
                    button(type="submit") Edit the Blog    